





/* applies to the whole body */
body{
    font-family: "HelveticaNeue","Lucida Sans Unicode", "Lucida Grande", sans-serif;
    text-align: center;
    font-size: x-large;
    background-color: white;
    height: 100%;
    padding: 0%;
    margin: 0px;
}		


img.icon {
    float: right; 
    width: 15%;
    max-width: 100px;
    display: inline;
    margin-right: 100px;
    margin-top: -20px;
}/*Weather icon*/



.condition,.high,.low{
    color: orange;
    font-size: 20px;
    margin-left: 20%; 
    text-align:left;
    opacity: .75;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px;
}/*Weather conditions*/

hr {
    border-color: orange;

}

html{
    height: 100%;
}


p#cityName{
    margin-bottom: 5px;
}/*City name*/



h1 {
    text-align: center;
    border-bottom: solid;
    font-size: 200%;
    color: white;
    margin-top: 20px;
}/*Current*/

h2 {
    border-bottom: solid;
    font-size: 200%; 
    color: orange;
    margin-top: 20px;
    margin-bottom:0px;
}/*Forecast*/

p.weekday{
    color: orange;
    font-size: 25px;
    opacity: .6;
    margin-bottom: 8px;
        
}/* Days of the week*/

p#celsiusWeather{
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 110px;
    opacity: .7;


}/* Celsius Temp */


p#searchText,#help{
    font-size: 12px;
    opacity: .8;
}/*information on how to search for new location*/

#currentWeather{
    margin-top: 0px;
    font-size: 110px;
    margin-bottom: 0px;
    opacity: .9;
}/*Temp in fahrenheit*/



footer.credits {
    font-size: 10px;
    color: orange;

}/*Credits*/

    			

input#zip {
    height: 5%; 
    font-size: x-large;
    opacity: .5;
    border-radius: 10px;
    display: inline;
    
    
}/*Search box*/

img#search {
    display: inline;
    max-height: 40px;
    margin-bottom: -10px;     
        
}/*Magnifying glass*/

@media screen and (min-width:800px) {

/* two id selectors; apply to named elements in the HTML */
#leftHalf {
    background-color:orange ;
    width: 50%;
    height: 100%;
    float: left;
    color: white;
    overflow:auto;
        
}
#rightHalf {
    width: 50%;
    height: 100%;
    float:right; 
    overflow:auto;
}

img.icon{
    
    margin-top: -10px;
    width: 20%;

}


}


@media screen and (max-width:799px) {

/* two id selectors; apply to named elements in the HTML */
#leftHalf {
    background-color:orange ;
    color: white;
    overflow:auto;
        
}


img.icon{
    
    margin-top: -20px;

}
#rightHalf { 
    overflow:auto;
}


}



